.background {
    background-image: url('../assets/animesky.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.luffy {
    background-image: url('../assets/vecteezy_cartoon-anime-onepiece-with-shopping-bag-ai-generative_34227675.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    width: 40%;
}