.background {
    background-image: url('../assets/animesky.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.luffy {
    background-image: url('../assets/luffy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}